<!doctype html>
<html ng-app="app">
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous"></script>

            <script src="http://momentjs.com/downloads/moment.js" type="text/javascript"></script>
            <script src="http://momentjs.com/downloads/moment-timezone-with-data.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.js"></script>
            <script src="vender/bootstrap.timepicker.js" type="text/javascript"></script>
            <script src="vender/bootstrap.timepicker.tpls.js" type="text/javascript"></script>

            <script src="app/uiComponents/datePicker/datePicker.controller.js"></script>
            <script src="app/uiComponents/timePicker/timePicker.controller.js"></script>
            <script src="app/helpers/timeHelper.js"></script>

            <script src="app/uiComponents/dateTimePicker/dateTimePicker.controller.js"></script>

            <script src="app/app.js"></script>

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
            <link rel="stylesheet" href="app/style.css" />

        </head>
        <body>
            <div ng-controller="AppController">
                <h2>Angular test</h2>
                <div>
                    <date-time-picker date-time-model="order.requestedDatetime">
                        <div class="col-sm-2 date-pick-box" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{order.timeZone}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li ng-repeat="zone in timeZones">
                                    <a ng-click="timeZoneChanged(zone)">{{zone}}</a>
                                </li>
                            </ul>
                        </div>
                        <date-picker sb-before-render-item="beforeRenderDateItem(date)" ></date-picker>
                        <time-picker sb-before-render-item="beforeRenderTimeItem(time)" max-time="maxTime" min-time="minTime"></time-picker>
                        <div class="date-time-display" ng-if="order.requestedDatetime"><b>Date/Time: </b>{{order.requestedDatetime}}</div>
                    </date-time-picker>
                </div>
            </div>
        </body>
</html>